*.zwc
.zsh/history
.zshenv.local
.zshrc.local
.config/fish/fishd.*

.zsh/external/
.zsh/plugins/
.zsh/cache/
!.zsh/plugins/fzf-extensions

.xmonad/*
!.xmonad/xmonad.hs

!.claude/
.claude/*
!.claude/settings.json
!.claude/opencode-go.settings.json
!.claude/opencode-go-usage.sh
!.claude/commands/
!.claude/statusline-command.sh
