[submodule ".zsh/external/enhancd"]
	path = .zsh/external/enhancd
	url = git@github.com:b4b4r07/enhancd.git
[submodule ".zsh/external/zsh-interactive-cd"]
	path = .zsh/external/zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
[submodule ".zsh/external/cd-gitroot"]
	path = .zsh/external/cd-gitroot
	url = git@github.com:mollifier/cd-gitroot.git
