[user]
  name	= Yusuke Izawa
  email = yuizalp@gmail.com
[filter "lfs"]
  clean     = git lfs clean %f
  smudge    = git lfs smudge %f
  require   = true
[core]
  excludesfile  = ~/.gitignore_global
  editor        = vim
[color]
  status      = auto
  diff        = auto
  branch      = auto
  interactive = auto
  grep        = auto
  ui          = auto
[alias]
  g       = git
  a       = add
  ad      = add .
  ap      = add -p
  br      = branch
  c       = commit
  cma     = commit --amend
  gr      = grep
  l       = log --graph --decorate --all --branches
  lo      = log --graph --decorate --all --oneline --branches
  graph   = log --graph --branches --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st      = status
  ps      = push
  pl      = pull
  plr     = pull --rebase
  o       = origin
  m       = master
  d       = diff
  dh      = diff HEAD
  dhh     = diff HEAD~ HEAD
  dhhh    = diff HEAD~~ HEAD~
  ch      = checkout
  mg      = merge
  cl      = clone
  stashs  = stash save
  stashp  = stash pop
  stashl  = stash list
  sb      = submodule
  unget   = "!REPO=`ghq list | fzf $(echo $1 | awk '{if($1!=\"\") print \"-q\" $1}') | tee /dev/tty` ; if [ -n \"$REPO\" -a -e \"$(ghq root)/$REPO\" ] ; then REPO=\"`ghq root`/$REPO\" ; else exit 1 ; fi ; if [ -n \"$(git -C \"$REPO\" -c status.color=always status --short | tee /dev/tty)\" -o -n \"$(git -C \"$REPO\" log --branches --not --remotes --simplify-by-decoration --decorate --oneline --color=always | tee /dev/tty)\" ] ; then read -rp \"These changes will be deleted permanently. OK? [yN]\" yN ; case \"$yN\" in [Yy]*) : ;; '' | [Nn]* | *) echo Aborted. ; exit 1 ;; esac ; fi ; for i in `seq 3` ; do if [ -n \"$(grealpath --relative-to=\"$REPO\" . | awk '! /^\\.\\./')\" ] ; then cd `dirname $REPO` ; fi ; rm -rf \"$REPO\" ; REPO=`dirname $REPO` ; if [ -n \"$(ls -A \"$REPO\")\" -o \"$(ghq root)\" = \"$REPO\" ] ; then break ; fi ; done ; echo Deleted. ; :"

[ui]
  color = auto
[push]
  default = simple
[rebase]
  autostash = true
[ghq]
  root = ~/src
[pager]
  # log   = diff-highlight | less
  # show  = diff-highlight | less
  # diff  = diff-highlight | less
[pull]
	ff = only
[pgp]
	program = gpg2
[merge]
	ff = false
