*.data
*.dat
*.elc

places
recentf
smex-items
viper
shellenv.el
opam-user-setup.el

auto-save-list/
elpa/
eshell/
el-get/
persp*/
irony/
url/

# lsp
.lsp-session*

# lsp-java
workspace/
jdt-server/

.cask/
.python-environments/
projectile-bookmarks.eld
